@use 'variables' as *;

//****************************************
//**          MEDIA QUERY:              **
//****************************************
//**      sm: 576px, md: 768px          **
//**       lg: 992px, xl: 1200          **
//****************************************
@mixin mq($prefix) {
	@each $device, $sizePx in $breakpoints {
		@if ($prefix == $device) {
			@media screen and (min-width: ($sizePx * 1px)) {
				@content;
			}
		}
	}
}

//************************************************
//**    Create Triangle
//**  @param (direction: t,b,l,r ; size; color)
//************************************************
@mixin triangle($dir: 'b', $size: '20px', $color: 'black') {
	@if $dir == t {
		width: 0;
		height: 0;
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid $color;
	} @else if $dir == b {
		width: 0;
		height: 0;
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-top: $size solid $color;
	} @else if $dir == l {
		width: 0;
		height: 0;
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-right: $size solid $color;
	} @else if $dir == r {
		width: 0;
		height: 0;
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $color;
	}
}

//************************************************
//**    Create BOX-SHADOW
//**  @param (color)
//************************************************
//base box-shadow
@mixin bs_base($color: #64646f) {
	box-shadow: rgba($color, 0.2) 0px 7px 29px 0px;
}
