@use '../2-helper/variables' as *;
@use '../2-helper/mixins' as *;

.footer {
	min-height: 40vh;
	background-color: $clr-n-dark-cyan;

	&__card {
		position: absolute;
		width: 80%;
		max-width: 455px;
		background-color: white;
		border-radius: 15px;
		@include bs_base;
		text-align: center;
		padding: 1.5rem 0;
		margin: 0 auto;
		font-weight: 700;
		top: -12%;
		left: 10.5%;
		@include mq(sm) {
			left: 22.5%;
		}
		&--title {
			padding-bottom: 1.5rem;
			color: $clr-n-dark-cyan;
		}
	}
}

.contact {
	width: 85%;
	max-width: 475px;
	margin: 0 auto;
	color: $clr-n-pale-cyan;
	position: relative;
	@include mq(sm) {
		max-width: 872px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}
	&__logo {
		width: 45%;
		padding-top: 5rem;
		padding-bottom: 1.5rem;
		filter: brightness(0) invert(1);
		@include mq(sm) {
			max-width: 22%;
			grid-column: span 3;
			padding-bottom: 0;
			padding-top: 7rem;
		}
	}
	&__detail {
		display: grid;
		grid-template-columns: 2rem 1fr;
		gap: 1rem;
		font-size: $fs-sm;
		@include mq(sm) {
			gap: 1rem;
			height: fit-content;
			align-content: flex-start;
		}
		img {
			padding-top: 0.3rem;
		}
	}
}

.social {
	@include mq(sm) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__icons {
		display: flex;
		justify-content: center;
		column-gap: 0.5rem;

		img {
			height: 2rem;
			aspect-ratio: 1;
			filter: invert(1);
			&:focus,
			&:hover {
				filter: invert(54%) sepia(58%) saturate(3917%) hue-rotate(295deg) brightness(103%)
					contrast(101%);
			}
		}
	}
	p {
		padding: 2rem 0;
		text-align: center;
		font-size: $fs-sm;
		@include mq(sm) {
			padding: 0;
		}
	}
}
