@use '../2-helper/variables' as *;
@use '../2-helper/mixins' as *;

.middle {
	width: 85%;
	max-width: 475px;
	margin: 0 auto;
	@include mq(sm) {
		max-width: 820px;
	}
}

.cards {
	@include bs_base;
	text-align: center;
	border-radius: 0.7rem;
	margin-bottom: 2rem;
	color: $clr-n-grayish-blue;
	font-weight: 400;
	@include mq(sm) {
		display: grid;
		grid-template-columns: 1.5fr 350px;
		gap: 1rem;
		text-align: left;
	}
	//top cards push top 2 rem
	&:first-of-type {
		margin-top: 2rem;
	}
	&:last-of-type {
		margin-bottom: 7rem;
	}
	//cover img scale to fit the div
	img {
		width: 80%;
		object-fit: contain;
		margin: 2.5rem 0;
		@include mq(sm) {
			grid-column: 2;
			grid-row: span 2;
		}
	}

	&__title {
		font-weight: 700;
		font-family: $base-font-heading;
		font-size: $fs-lg;
		color: $clr-n-dark-cyan;
		@include mq(sm) {
			grid-row: 1;
			align-self: flex-end;
			padding-left: 2rem;
		}
	}
	&__content {
		font-size: 0.85rem;
		padding: 0 2rem;
	}
}
