@use '../2-helper/variables' as *;
@use '../2-helper/mixins' as *;

.nav {
	padding: 2rem 0;
	@include mq(sm) {
		padding: 0;
	}
	&__menu {
		color: $clr-n-pale-cyan;
		@include mq(sm) {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		li {
			padding-bottom: 1rem;
			@include mq(sm) {
				&:nth-child(2) {
					grid-column: 1;
				}
				&:nth-child(3) {
					grid-column: 1;
				}
				&:nth-child(4) {
					grid-column: 2;
					grid-row: 1;
				}
				&:nth-child(5) {
					grid-column: 2;
					grid-row: 2;
				}
			}
		}
	}
}
